* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Recommended addition */
}
body{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(40, 80%, 99%);
    padding:20px;
    font-size: 16px;
}
h1,h2,h3,h4{
    color: hsl(326, 80%, 20%);
    padding:16px 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(326, 80%, 98%);
    background-color: hsl(326, 80%, 20%);
}

.recipe-links{
    background-color: hsl(326, 80%, 97%);
    padding:40px 40px;
    border: 1px solid hsl(326, 80%, 80%);
    width: 800px;
    margin: 80px auto;
}
.recipe-links li{
    padding:10px 14px;
    margin: 10px 10px 10px 0px;
    text-decoration: none;
    background-color: hsl(326, 80%, 20%);
    width: 140px;
    display: inline-block;
    text-align: center;
    color: hsl(326, 80%, 97%);
}
/* Sub-page styles */
.single-recipe-body{
    width: 800px;
    margin: 40px auto;
}
.single-recipe-body a{
    margin: 20px 0;
    padding: 10px;
    display: inline-block;
}
.single-recipe-body p{
    display: inline-block;
    width: 600px;
    padding: 10px 0;
    line-height: 1.4em;
}
.inner-recipe-section{
    background-color: hsl(326, 80%, 97%);
    padding:10px 20px;
    border-radius: 10px;
    border: 1px solid hsl(326, 80%, 90%);
    margin: 10px 0;
}
.inner-recipe-section li{
    padding: 4px;
    list-style-type: none;
}